{% extends 'layout.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block content %}
    <div class="p-5 rounded-3 bg-light text-center">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">{% trans %}Home{% endtrans %}</h1>
            <p class="lead">{% trans %}This is an example page.{% endtrans %}</p>
            <code>resources/views/home/index.twig</code>
            <h3>Hello {{ name }}</h3>
        </div>
    </div>

    <ul>
        <li>
            <form>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="submit" value="OK">
            </form>
            <button class="toggle-form">Open Form</button>
        </li>
        <li>
            <form>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="submit" value="OK">
            </form>
            <button class="toggle-form">Open Form</button>
        </li>
        <li>
            <form>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="submit" value="OK">
            </form>
            <button class="toggle-form">Open Form</button>
        </li>
        <li>
            <form>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="submit" value="OK">
            </form>
            <button class="toggle-form">Open Form</button>
        </li>
    </ul>



{% endblock %}
